---
import { server__ctx__new } from '../lib/index.js'
import Layout from '../layouts/Layout.astro'
let ctx = server__ctx__new(Astro)
---
<Layout>
	<div class="V_page_home">
		<h1>Brooke Brodack</h1>
	</div>
	<ul>
		<li class="text-center mt-12">
			<a href="/brookers" class="inline text-center">Brookers&hellip;</a>
		</li>
	</ul>
</Layout>

<script>

</script>
